body {
  background-color: coral;
}

.marquee {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: fixed;
  left: 50px;
  bottom: 50px;
}

.marquee p {
  position: absolute;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 50px;
  width: 50%;
  height: 100%;
  margin: 0;
  line-height: 55px;
  text-align: left;
  color: #fff;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

.column {
  float: left;
  width: 50%;
}

.one-word-per-line {
  word-spacing: 500px; 
}

.right-navigation {
  width: 1000px;
  height: 80%;
  float: right;
}

.profile-img-holder {
}

.profile-img {
  width: 100%;
}

.navigation {

}

.bottom {
}

#navigation-container{
  position: relative;
}

#navigation-list{
  position: absolute;
  bottom: 0px;
}

@keyframes left-one {
  0%  {
    transform:translateX(100%);
    opacity: 0;
  }
  7% {
    transform:translateX(0);
    opacity: 1;
  }
  18% {
    transform:translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform:translateX(-100%);
  }
  100%{
    opacity: 0;
    transform:translateX(-100%);
  }
}

@keyframes left-two {
  0% {
    opacity: 0;
    transform:translateX(100%);
  }
  25% {
    opacity: 0;
    transform:translateX(100%);
  }
  32% {
    transform:translateX(0);    
    opacity: 1;
  }
  43% {
    transform:translateX(0);    
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform:translateX(-100%);    
  }
  100%{
    opacity: 0;
    transform:translateX(-100%);
  }
}

@keyframes left-three {
  0% {
    opacity: 0;
    transform:translateX(100%);
  }
  50% {
    opacity: 0;
    transform:translateX(100%);
  }
  57% {
    transform:translateX(0);    
    opacity: 1;
  }
  68% {
    transform:translateX(0);    
    opacity: 1;
  }
  75% {
    opacity: 0;
    transform:translateX(-100%);    
  }
  100%{
    opacity: 0;
    transform:translateX(-100%);
  }
}

@keyframes left-four {
  0% {
    opacity: 0;
    transform:translateX(100%);
  }
  75% {
    opacity: 0;
    transform:translateX(100%);
  }
  82% {
    transform:translateX(0);    
    opacity: 1;
  }
  93% {
    opacity: 1;
    transform:translateX(0);    
  }
  100%{
    opacity: 0;
    transform:translateX(-100%);
  }
}

.marquee p:nth-child(1) {
  animation: left-one 20s ease infinite;
}
.marquee p:nth-child(2) {
  animation: left-two 20s ease infinite;
}
.marquee p:nth-child(3) {
  animation: left-three 20s ease infinite;
}
.marquee p:nth-child(4) {
  animation: left-four 20s ease infinite;
}