#root {
  height: 100vh;
}

.profile-pic {
  height: 4vmin;
  margin-right: 10px;
  border-radius: 50px;
}

.formLabel {
  font-weight: bold;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bottom {
  position: absolute;
  bottom: 8px;
  left: 24px;
}

.intro-background-component {
  /* The image used */
  background-image: url(./assets/intro_background.jpg);

  /* Full height */
  height: 100%;

  /* Full width */
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-background-component {
  padding-top: 30px;
  padding-bottom: 30px;
}

svg {
  color: white;
}

svg:hover {
  color: #fdbb5b;
  text-decoration: none;
}

div.media {
  margin-top: 30px;
  margin-bottom: 10px;
}

div.media .media-heading .jobTotalDuration {
  color: #666;
  font-size: 14px;
  display: block;
}

div.media img {
  height: 10vmin;
  margin-right: 10px;
  border-radius: 50px;
}

div.media .jobDuration {
  color: #444;
  display: block;
}

div.media .jobLocation {
  color: #666;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}

footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
}